<ion-view title="Albums">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="item item-avatar my-image-item" collection-repeat="album in albums" collection-item-width="'33%'" collection-item-height="'33%'">
            <a href="#/app/server/55076f6e-6b79-4d65-6471-b8a386975678/album/{{album.id}}">
                <img style="height: 33%; width: 33%;" ng-src="{{album.albumArtURI[0].Text}}">
                <h2>{{album.album}}</h2>
                <h4>{{album.artist}}</h4>
            </a>
        </div>
    </ion-content>
</ion-view>
