<ion-view title="Playlists">
    <ion-nav-bar class="nav-title-slide-ios7 {{$root.cls}} bar">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="has-header">

        <ion-list>
            <div class="item item-divider">
                Servers
            </div>

            <div ng-model="server" ng-value="server.id" class="item item-avatar" ng-class="{'selected-ren': server.id==config.server}" ng-repeat="server in servers">
                <img ng-src="{{server.icon}}">
                <h2>{{server.name}}</h2>
                <p>{{server.id}}</p>
            </div>

            <div class="item item-divider">
                Renderers
            </div>
            <div ng-model="renderer" ng-value="renderer.id" ng-click="selectRenderer(renderer)" ng-class="{'selected-ren': renderer.id==config.renderer}" class=", item item-avatar" ng-repeat="renderer in renderers ">
                <img ng-src="{{renderer.icon}} ">
                <h2>{{renderer.name}}</h2>
                <p>{{renderer.id}}</p>
            </div>


        </ion-list>
    </ion-content>
</ion-view>
